doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

    body
        .container
            h1.header Hello World